// Sizes
 $block-main:1500px ; //1200  769px


// Colors backgraund
$main-bg-color:#F2F2F2 ;  //#EBEBF3
$bg-color: #fff;
$gradient-bg-1: #1777A7;  //#666
$gradient-bg-2: #6699CC;


$bg-block-color:#E8F3F8;    //#b3b3b3
// @border-bg:#AFB1AE;
$hover-bg: #99CCFF;

// //Color fonts
$font-main-color: #4D4E4E;
// @font-color-2: #5e0404;
// @font-color-1: #A64F27;
// //@font-hover: #f45a40;

// @face-main: OSCB;  //Intro; //normal small Arial, Helvetica, sans-serif;