@import "partials/params";
@import "partials/mixins";
@import "header";
@import "top-menu";





// ======================================
body {
  font-family: 'Roboto-Italic';
  font-size: 30px;
  // display: flex;

}


span {
  font-size: 20px;
  @media (max-width: 600px) {
    font-size: 10px;    
  } 
}

div { 
  font-size: 15px;  
  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.webp {
  background: url("../img/face.png") 0 0 repeat;
  display: block;
  width: 100%;
  height: 160px;
}

h2 {
  color:blue;
  font-size: 15px;
  @media (max-width: 600px) {
    font-size: 30px;
  }
}
